<div class="sidebar" style="background-color:{{ site.color }};background-image:url({{ site.image }})">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site.logo %}
        <div class="site-logo">
          <a href="{{ site.baseurl }}">
            {% include {{site.logo}} %}
          </a>
        </div>
      {% else %}
        <h1>
          <a href="{{ site.baseurl }}">
            {{ site.title }}
          </a>
        </h1>
      {% endif %}
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.url }}/blog/index.html">Blog</a>

      {% assign author = site.data.authors.first[1] %}
      {% if author.social %}
        <div class="sidebar-social">
          {% include social.html social=author.social %}
        </div>
      {% endif %}

    </nav>
    
    <div class="sidebar-copyright">
      <p>&copy; {{ site.time | date: '%Y' }} Howlin Bash</br>
      <a href="https://github.com/howlinbash/heidi/blob/master/LICENSE.md">MIT</a> (code) / 
      <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a> (content)</p>
    </div>
  </div>
</div>
